<!DOCTYPE html>
<html lang="uk">
<head>
    <meta charset="UTF-8">
    <title>S diamond</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/index.css') }}">
</head>
<body>
    <div class="container">
        <h1>Ласкаво просимо до ювелірної майстерні S diamond!</h1>

        <!-- Блок навігації -->
        <div class="nav-links">
            <a href="{{ url_for('register') }}" class="button">Реєстрація</a>
            <a href="{{ url_for('login') }}" class="button">Логін</a>
        </div>
    </div>
</body>
</html>
