<!DOCTYPE html>
<html lang="uk">
<head>
    <meta charset="UTF-8">
    <title>Вхід</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/login.css') }}">
</head>
<body>

<div class="page">
    <div class="logo-wrap">
            <img src="{{ url_for('static', filename='images/logo.png') }}" alt="Sdiamond" class="logo">
        </div>


    <div class="card">

        

        <h1>Вас вітає ювелірна<br>майстерня Sdiamond</h1>

        <form method="POST">
            <input type="text" name="username" placeholder="Username" required>
            <input type="password" name="password" placeholder="Password" required>

            <button type="submit" class="btn-main">Увійти</button>
        </form>

        <a href="{{ url_for('register') }}" class="btn-secondary">Зареєструватися</a>

    </div>

</div>

</body>
</html>
